<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Hello <%= userName %>!</h1>
    <p>Welcome to my joke site</p>
    <a href="jokes">Get a list of all the jokes</a> <br />
    <a href="joke">Get a random joke</a> <br />
    <a href="addjoke">Add a new joke</a>
  </body>
</html>
