<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Hello! Please login with your username</h1>
    <form name="add-joke" method="POST" action="/">
      <input type="text" name="userName" style="width: 200px;"/>
      <button>Login</button>
    </form>
  </body>
</html>
